<div class="index-container">
  <!-- Späti-Liste (links auf Desktop, unten auf Mobile) -->
  <div class="spati-list">
    <% @spatis.each do |spati| %>
      <%= link_to spati_path(spati), class: "spati-card-link" do %>
        <div class="spati-card">
          <h2><%= spati.name %></h2>
          <p><%= spati.address %></p>
          <p><%= spati.opening_time %></p>
          <% if spati.photos.attached? %>
            <%= cl_image_tag spati.photos.first.key, class: "spati-photo" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- Map (rechts auf Desktop, oben auf Mobile) -->
  <div class="map-container">
    <!-- Toggle-Button auf der Map -->
    <div class="map-toggle-button">
      <% if params[:all] == "true" %>
        <%= link_to "nur geöffnete", spatis_path, class: "btn toggle-button" %>
      <% else %>
        <%= link_to "alle Spätis", spatis_path(all: true), class: "btn toggle-button" %>
      <% end %>
    </div>

    <!-- Karte -->
    <div id="map"
         data-controller="map"
         data-map-markers-value="<%= @markers.to_json %>"
         data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
         data-map-logo-url-value="<%= asset_path('teddy-bear.png') %>">
    </div>
  </div>
</div>
