<h1>Here's the requested Späti </h1>
<ul>

    <li>
    <h3><strong><%= @spati.name %></strong></h3>
    <p><%= @spati.address%></p>
    <p>Open- <%= @spati.opening_time%></p>
    </li>
    <br>

</ul>
<p><%= link_to "Back to all späti", spatis_path %></p>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%=@markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
