<div class="center">
  <h1>Here is the next späti to you</h1>
  <div class="index-container">
    <ul>
      <li>
        <h3><strong><%= @spati.name %></strong></h3>
        <p><%= @spati.address %></p>
        <p>Open: <%= @spati.opening_time %></p>

        <!-- Display stories -->
        <% @spati.stories.each do |story| %>
          <p><%= story.content %></p>

          <!-- Show update link if the current user owns the story -->
          <% if story.user == current_user %>
            <button><%= link_to "Update", edit_story_path(story) %></button>
                <!-- Link to delete a new story -->
            <button><%= link_to "Delete", story_path(story.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
            <br>
          <% end %>
        <% end %>

        <!-- Display photos -->
        <% @spati.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>

        <!-- Link to create a new story -->
        <button><%= link_to "Create your story", new_spati_story_path(@spati.id) %></button>


      </li>
    </ul>

    <!-- Map container -->
    <div style="width: 100%; height: 600px;"
         data-controller="map"
         data-map-markers-value="<%= @markers.to_json %>"
         data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <!-- Back link -->
  <p><%= link_to "Back to all spätis", spatis_path %></p>
</div>
