<div class="navbar-spatify">
  <!-- Linker Button -->
  <div class="navbar-left">
    <%= link_to raw("n späti fehlt!"), new_spati_path, class: "nav-link" %>
  </div>

  <!-- Logo in der Mitte -->
  <div class="navbar-center">
    <%= link_to root_path do %>
      <%= image_tag "spatifywhite.png", class: "navbar-logo" %>
    <% end %>
  </div>

  <!-- Login / Logout rechts -->
  <div class="navbar-right">
    <% if user_signed_in? %>
      <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: "nav-link" %>
    <% else %>
      <%= link_to "LOGIN", new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>
</div>
