<!DOCTYPE html>
<html>
  <head>
    <title>Spatify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google Fonts (Rowdies + Sigmar) einbinden -->
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Sigmar&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>
